:root {
  --dimension;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #606c71;
}

h1 {
  text-align: center;
}

.grid-container {
  position: absolute;
  display: grid;
  background-color: #f2f2f2;
  margin: 0;
  border: 0;
  padding: 0;
  grid-row-gap: 0;
  width: 35vmax;
  height: 35vmax;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.grid-item {
  background-color: #f2f2f2;
  padding: 0;
  border: 1px solid #f2f2f2;
  margin: 0;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.6s;
  transition-delay: 0s;
}


#submit {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 15px 30px;
  color: #f2f2f2;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
}

button:hover, button:active {
  opacity: 0.7;
}

button:focus {
  outline:0;
}
